<div>
  <h1>Backend links</h1>
  <div class="list-group">
	  <a  href="http://{{hostname}}:8000/admin/camera/camera/" class="list-group-item list-group-item-action">configure cameras (declare camera by specifying IP address and credentials)</a>
    <a  href="http://{{hostname}}:8000/admin/camera/recording/" class="list-group-item list-group-item-action">recordings (consult recording of all configured cameras)</a>
    <a  href="http://{{hostname}}:8000/admin/camera/analyticsprofile/" class="list-group-item list-group-item-action">analytics profiles</a>
  </div>
  <div class="alert alert-primary" role="alert">
  Login to the admin interface with user admin and password 12345678
</div>
</div>
